<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.cyann.nstools"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="mobi.cyann.nstools.MainActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mobi.cyann.nstools.NSTweakActivity" />
        <activity android:name="mobi.cyann.nstools.CPUActivity" />
        <activity android:name="mobi.cyann.nstools.VoltageControlActivity" />
        <activity android:name="mobi.cyann.nstools.SettingActivity" />
        <service android:name="mobi.cyann.nstools.OnBootCompleteService" >
            <intent-filter >
                <action android:name="mobi.cyann.nstools.OnBootCompleteService" >
                </action>
            </intent-filter>
        </service>

        <receiver android:name="mobi.cyann.nstools.BootCompleteReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>